<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Administración de Personas</title>
    <script type="text/javascript" th:src="@{/jquery-3.6.3.min.js}"></script>
    <script type="text/javascript" th:src="@{/personas/app.bundle.js}" defer></script>
</head>
<body>
<div class="container mt-5">
    <h2>Administración de Personas</h2>

    <!-- Formulario para Añadir/Editar Personas -->
    <form id="personaForm">
        <input type="hidden" id="personaId"/>
        <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" required>
        </div>
        <div class="mb-3">
            <label for="apellido" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="apellido" required>
        </div>
        <div class="mb-3">
            <label for="pais" class="form-label">País</label>
            <select class="form-control" id="pais" required>
                <!-- Las opciones del país se deben cargar dinámicamente -->
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>

    <!-- Tabla para Mostrar Personas -->
    <div class="card mt-5">
        <h5 class="card-header">Personas</h5>
        <div class="card-body">
            <table id="personas" class="display">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>País</th>
                    <th>Acciones</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>
